.collapsibleText{
  position: relative;
  line-height: 28px;
  font-size: 14px;
  &--collapse {
    overflow: hidden;
  }

  &__label{
    position: absolute;

    bottom: 0;
    right: 0;
    color: #6a9ada;
    padding:0 6px 0 20px;
    background: linear-gradient(90deg,hsla(0,0%,100,0%),#fff,#fff,#fff);//从左到右线性渐变
  }
}
